@import "tailwindcss";

:root {
  --background: #e7dddd;
  --foreground: #171717;
  --maroon: #690008;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-maroon: var(--maroon);
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Helvetica, sans-serif;
}

.programs-container a,
.experience-section a,
.contact-container a {
  color: #690008;
}

.return-to-works,
.gallery-link,
.cv-download {
  color: #690008;
}

a:hover,
button:hover {
  color: #690008;
}

#fellowships-awards {
  @media (width >= 64rem) {
    height: calc(var(--spacing) * 45);
  }
}

#fellowships-awards p {
  width: 100px;
}

#education,
#fellowships-awards {
  height: calc(var(--spacing) * 37);
  border: none;

  @media (width >= 64rem) {
    height: calc(var(--spacing) * 45);
  }
}

#education {
  margin-bottom: none;
}

#download-cv-pdf-btn {
  border: 0;
  line-height: 2.5;
  padding: 5px 20px;
  font-size: 1rem;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 1px black;
  background-color: var(--maroon);
  background-image: linear-gradient(
    to top left,
    rgb(0 0 0 / 0.2),
    rgb(0 0 0 / 0.2) 30%,
    transparent
  );
  box-shadow: inset 2px 2px 3px rgb(255 255 255 / 0.6),
    inset -2px -2px 3px rgb(0 0 0 / 0.6);
}

#download-cv-pdf-btn:active {
  box-shadow: inset -2px -2px 3px rgb(255 255 255 / 0.6),
    inset 2px 2px 3px rgb(0 0 0 / 0.6);
}

.overlay {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/opacity */
  transition: 0.5s; /* Smooth transition */
  overflow-x: hidden; /* Disable horizontal scroll */
}

.overlay-content {
  position: relative;
  top: 15%;
  width: 100%;
  text-align: center;
  text-decoration: none;
  font-size: 36px;
  color: white;
  display: block; /* Stacked links */
  transition: 0.3s;
}

.overlay-content > a,
.overlay-content > button {
  text-decoration: none;
  font-size: 36px;
  color: white;
  display: block; /* Stacked links */
  transition: 0.3s;
}
